{% if post.header.teaser %}
{% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
{% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
{% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
{% assign title = post.title %}
{% endif %}
<style>
  .meta-info {
      display: flex;
      align-items: center;
      gap: 10px; /* 항목들 사이의 간격 */
  }

  .meta-info span {
      margin: 0;
      white-space: nowrap; /* 한 줄에 나타내기 */
  }
</style>

<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
      {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
          <img src="{{ teaser | relative_url }}" alt="">
      </div>
      {% endif %}
      <h5 class="archive__item-title no_toc" itemprop="headline">
          {% if post.link %}
          <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i
                  class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
          {% else %}
          <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
          {% endif %}
      </h5>
      <div class="meta-info">
          {% if post.categories[0] != null %}
          <span><i class="far fa-folder-open"></i> {{ post.categories | join: ", " }}</span>
          {% endif %}
          <span><i class="far fa-calendar-alt"></i> {{ post.date | date: "%m/%d/%Y" }}</span>
          <!-- '몇 분 전' 정보를 나타내려면 여기에 코드 추가 -->
      </div>
      {% include page__meta.html type=include.type %}
      {% if post.excerpt %}
      <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>
      {% endif %}
  </article>
</div>
